<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
</head>
<style>
    li {
        list-style: none;
    }
</style>

<body>
    <div>
        <ul class="roomListWrapper">

        </ul>
        <button id="makeRoom">방 만들기</button>
    </div>
</body>
<script src="/javascripts/client.js"></script>
<script>
    window.onload = function() {
        var localstorage = window.localStorage;
        var makeBtn = document.querySelector('#makeRoom');

        var sclient = new SClient({
            'uuid': localstorage.getItem('uuid')
        });

        makeBtn.addEventListener('click', function() {
            var roomName = prompt('방을 생성합니다.', '');

            if (roomName == '') {
                return;
            }
            sclient.make(roomName);
        });
    }
</script>

</html>